config/nvim/plugged/*
config/nvim/undodir
*.uuid
.pytest_cache
config/nvim/.netrwhist
.undodir
gmail-pass.txt
settings.vim
.gitsecret/keys/random_seed

# End of https://www.gitignore.io/api/python
vim/lua/
!*.secret
shell/custom.hide
*/__pycache__
