!xterm*font: -*-mplus*-*-*-*-14-*-*-*-*-*-iso10646-1
!xrdb ~/.Xresources
!Xft.dpi: 192

! XTerm.termName: xterm-256color
XTerm.termName: xterm-256color
XTerm.vt100.locale: false
XTerm.vt100.utf8: true
XTerm.vt100.backarrowKey: false
! XTerm.ttyModes: erase ^?

XTerm.vt100.translations: #override \
    Meta <Key> minus: smaller-vt-font() \n\
    Meta <Key> plus: larger-vt-font() \n\
    Meta <Key> KP_Subtract: smaller-vt-font() \n\
    Meta <Key> KP_Add: larger-vt-font() \n\
    Super <Key> minus: smaller-vt-font() \n\
    Super <Key> plus: larger-vt-font() \n\
    Super <Key> KP_Subtract: smaller-vt-font() \n\
    Super <Key> KP_Add: larger-vt-font() \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

xterm*faceName: Cascadia Code PL
xterm*faceSize: 14
!  xterm*vt100*geometry: 80x50
xterm*saveLines: 100000
! xterm*boldMode: false
xterm*selectToClipboard: true

xterm.vt100*background: #1E1E2E
xterm.vt100*foreground: #CDD6F4

! black
xterm.vt100*color0: #45475A
xterm.vt100*color8: #585B70

! red
xterm.vt100*color1: #F38BA8
xterm.vt100*color9: #F38BA8

! green
xterm.vt100*color2: #A6E3A1
xterm.vt100*color10: #A6E3A1

! yellow
xterm.vt100*color3: #F9E2AF
xterm.vt100*color11: #F9E2AF

! blue
xterm.vt100*color4: #89B4FA
xterm.vt100*color12: #89B4FA

! magenta
xterm.vt100*color5: #F5C2E7
xterm.vt100*color13: #F5C2E7

! cyan
xterm.vt100*color6: #94E2D5
xterm.vt100*color14: #94E2D5

! white
xterm.vt100*color7: #BAC2DE
xterm.vt100*color15: #A6ADC8
