SHELL=/bin/bash
# Example of job definition:
#.---------------- minute (0 - 59)
#|  .------------- hour (0 - 23)
#|  | .---------- day of month (1 - 31)
#|  | | .------- month (1 - 12) OR jan,feb,mar,apr ...
#|  | | | .---- day of week (0 - 6) (Sunday=0 or 7)
#|  | | | |
#*  * * * *   command to be executed

55 8,9,15,16    * * *  /home/mgreco/gitlab/mgreco/my_crontabs/bkp_matlab_prod.sh >> /tmp/bkp_matlab_prod.log 2>&1
50 8,9,15,16    * * *  /home/mgreco/gitlab/mgreco/my_crontabs/bkp_matlab_public.sh >> /tmp/bkp_matlab_pub.log 2>&1
#  * * *         * * *  /home/mgreco/tasks/bkp_matlab_public.sh >> /tmp/fuckCron.log 2>&1 */
50 9,16         * * *  /home/mgreco/dotfiles/packages/ubuntu/backup.sh >> /tmp/bkp_software.log 2>&1
*/20 * * * * /home/mgreco/speedtest/check.sh >> /home/mgreco/speedtest/test.log 2>> /home/mgreco/speedtest/error.log

