[Desktop Entry]
Name=simple Terminal (st)
GenericName=simple terminal
Comment=Suckless terminal emulator for X
Exec=st -t "Simple Terminal" -f "Caskaydia Cove Nerd Font:size=14"
Terminal=false
Type=Application
Encoding=UTF-8
Icon=utilities-terminal
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;
